@media screen and (max-width: 1280px){
  .content{
    max-width: 1140px;
  }
}
@media screen and (min-width: 1575px) {
  .table-infos tbody {
      font-size: 0.95rem;
  }
  .table-permutas {
      thead  {
          font-size: 0.95rem;
      }
      tbody {
          font-size: 0.875rem;
      }
  }
}