<!-- Web -->
<link
rel="icon"
type="image/png"
href="assets/images/Favicons/favicon-Web-16.png"
sizes="16x16"
/>
<link
rel="icon"
type="image/png"
href="assets/images/Favicons/favicon-Web-32.png"
sizes="32x32"
/>
<link
rel="icon"
type="image/png"
href="assets/images/Favicons/favicon-Web-96.png"
sizes="96x96"
/>
<link
rel="icon"
type="image/png"
href="assets/images/Favicons/favicon-Web-128.png"
sizes="128x128"
/>
<link
rel="icon"
type="image/png"
href="assets/images/Favicons/favicon-Web-192.png"
sizes="192x192"
/>

<!-- iOS -->
<link
rel="apple-touch-icon"
href="assets/images/Favicons/favicon-iOS-120.png"
sizes="120x120"
/>
<link
rel="apple-touch-icon"
href="assets/images/Favicons/favicon-iOS-152.png"
sizes="152x152"
/>
<link
rel="apple-touch-icon"
href="assets/images/Favicons/favicon-iOS-167.png"
sizes="167x167"
/>
<link
rel="apple-touch-icon"
href="assets/images/Favicons/favicon-iOS-180.png"
sizes="180x180"
/>

<!-- Android -->
<link
rel="shortcut icon"
href="Favicons/favicon-Android-196.png"
sizes="196x196"
/>