<div class="row mx-lg-n4 mb-3">
  <div class="col-md-12 px-1">
    <div class="card px-4 py-3">
      <h4 class="mb-2">
        <img src="assets/images/icone-intencoes.png" alt="" srcset=""> Intenções em uso:
      </h4>
      <form>
        <div class="custom-control custom-checkbox d-inline-block mb-2">
          <input type="checkbox" class="custom-control-input" id="imd" name="imd">
          <label class="custom-control-label text-uppercase" for="imd">IMD</label>
        </div>
        <div class="custom-control custom-checkbox d-inline-block mb-2">
          <input type="checkbox" class="custom-control-input" id="ect" name="ect">
          <label class="custom-control-label text-uppercase" for="ect">ect</label>
        </div>
        <div class="custom-control custom-checkbox d-inline-block mb-2">
          <input type="checkbox" class="custom-control-input" id="sedis" name="sedis">
          <label class="custom-control-label text-uppercase" for="sedis">sedis</label>
        </div>
        <div class="custom-control custom-checkbox d-inline-block mb-2">
          <input type="checkbox" class="custom-control-input" id="técnicodeti" name="técnicodeti">
          <label class="custom-control-label text-uppercase" for="técnicodeti">técnico de ti</label>
        </div>
        <br/>
        <button type="button" class="btn btn-clear btn-inline-block mt-2">Limpar</button>
      </form>
    </div>
  </div>
</div>