<header id="headerCadastro" class="fixed-top border-header shadow-sm bg-white py-2">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-4 col-md-2 d-flex align-items-center pr-md-2">
        <img src="assets/images/logo-portal-permuta.png" class="img-fluid" alt="">
      </div>
      <div class="col-8 col-md-10 d-flex align-items-center justify-content-end pl-md-2">
        <div>
          <a class="nav-link nav-user dropdown-toggle" href="https://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="text-truncate">Olá, Fulano de tal</span>
            <img src="assets/images/imgPerfil.png" class="img-fluid ml-2" alt="">
            <i data-feather="circle"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">
                <img src="assets/images/icon-awesome-envelope.svg" class="pr-3" alt=""> Mensagens
            </a>
            <a class="dropdown-item" href="#">
                <i class="nc-icon nc-umbrella-13"></i> Minhas permutas
            </a>
            <a class="dropdown-item" href="#">
                <i class="nc-icon nc-settings-90"></i> Perfil
            </a>
            <div class="divider"></div>
            <a class="dropdown-item" href="#">
                <i class="nc-icon nc-lock-circle-open"></i> Entenda o processo
            </a>
            <a href="#" class="dropdown-item text-danger">
                <i class="nc-icon nc-button-power"></i> Sair
            </a>
        </div>
          
        </div>
      </div>
    </div>
  </div>
</header>