.btn-primary {
  background-color: $azulEscuro;
  border-color: $azulEscuro;
  border-radius: .5rem;
  
}

.btn-secondary {
  background-color: $verdeClaro;
  border-color: $verdeClaro;
  padding: 0.8rem 2.25rem;
}

.btn-login {
  font-size: 1.375rem;
  background:$azulEscuro url(../images/logo-sig.png) no-repeat;
  background-position: center right 30px;
  background-size:85px auto;
  padding: 1.25rem 7.8125rem 1.25rem 2rem;
}
