.tamanho-peso {
  font-weight: bold;
}

.btn-primary {
  background-color: $laranjaClaro;
  border-color: $laranjaClaro;
  border-radius: 0.5rem;
  @extend .tamanho-peso;

  &:hover {
    background-color: $verdeClaro;
    border-color: $verdeClaro;
  }
}

.btn-secondary {
  @extend .tamanho-peso;
  background-color: $verdeClaro;
  border-color: $verdeClaro;
  padding: 0.8rem 2.25rem;
}

.btn-login {
  font-size: 1.375rem;
  background: $azulEscuro url(../images/logo-sig.png) no-repeat;
  background-position: center right 30px;
  background-size: 85px auto;
  border-color: $azulEscuro;
  font-weight: 400;
  padding: 1.25rem 7.8125rem 1.25rem 2rem;
}

.btn-custom1 {
  background-color: $verdeMuitoClaro;
  border-color: $verdeMuitoClaro;
  color: $verdeClaro;
  border-radius: 0.5rem;
  padding: 15px 9px;

  .icon {
    display: inline-block;
    margin-bottom: -3px;
    width: 17px;
    height: 17px;
    background: $verdeClaro;
    mask-size: cover;
  }

  .icon-interesse {
    mask: url(../images/icone-tenho-interesse.svg);
    mask-repeat: no-repeat;
  }

  &:hover {
    background-color: $verdeClaro;
    color: white;

    .icon {
      background-color: white;
    }
  }
}
.btn-custom2 {
  @extend .btn-custom1;
  background-color: $laranjaClaro2;
  border-color: $laranjaClaro2;
  color: $laranjaClaro;
  margin-right: 5px;

  .icon {
    display: inline-block;
    margin-bottom: -3px;
    width: 17px;
    height: 17px;
    background: $laranjaClaro;
    mask-size: cover;
  }

  .icon-detalhes {
    mask: url(../images/icone-detalhes.svg);
    mask-repeat: no-repeat;
  }

  &:hover {
    background-color: $laranjaClaro;
    color: white;

    .icon {
      background-color: white;
    }
  }
}
.btn-custom3 {
  @extend .btn-custom1;
  background-color: $azulClaro;
  border-color: $azulClaro;
  color: $azulEscuro;

  .icon {
    display: inline-block;
    margin-bottom: -3px;
    width: 17px;
    height: 17px;
    background: $azulEscuro;
    mask-size: cover;
  }

  .icon-compartilhar {
    mask: url(../images/icone-compartilhar.svg);
    mask-repeat: no-repeat;
  }

  &:hover {
    background-color: $azulEscuro;
    color: white;

    .icon {
      background-color: white;
    }
  }
}

.btn-clear {
  background-color: $verdeClaro;
  border-color: $verdeClaro;
  color: white;

  &:hover {
    background-color: $laranjaClaro;
    border-color: $laranjaClaro;
  }
}

.btn-entrar-contato {
  @extend .btn-custom1;
  background-color: $azulEscuro;
  border-color: $azulEscuro;
  color: white;
  font-size: 1rem !important;

  .icon {
    display: inline-block;
    margin-bottom: -10px;
    width: 30px;
    height: 30px;
    background: white;
    mask-size: cover;
  }

  .icon-entrar-contato {
    mask: url(../images/icone-entrar-contato.svg);
    mask-repeat: no-repeat;
  }

  &:hover {
    background-color: $azulClaro;
    border-color: $azulClaro;
    color: $azulEscuro;

    .icon {
      background-color: $azulEscuro;
    }
  }
}

.btn-alterardados {
  
  background-color: $verdeClaro;
  border-color: $verdeClaro;
  color: white;
  padding: 12px 30px;

  &:hover {
    background-color: $laranjaClaro;
    border-color: $laranjaClaro;
    .icon {
      background-color: $corTxt;
    }
  }

  .icon {
    display: inline-block;
    margin-bottom: -5px;
    width: 20px;
    height: 20px;
    background: white;
    mask-size: cover;
  }

  .icon-addHabilidade {
    mask: url(../images/add-circle.png);
    mask-repeat: no-repeat;
  }

}

.btn-custom4 {
  @extend .btn-custom1;
  background-color: white;
  border-color: $laranjaClaro2;
  color: $corTxt;
  padding-top: 13px;
  padding-bottom: 13px;
  
  margin-right: 23px;

  .icon {
    display: inline-block;
    margin-bottom: -6px;
    width: 17px;
    height: 17px;
    background: red;
    mask-size: cover;
  }

  .icon-remove {
    mask: url(../images/remove.png);
    mask-repeat: no-repeat;
  }

  &:hover {
    background-color: white;
    color: $corTxt;
    border-color: $laranja;

    .icon {
      background-color: red;
    }
  }
}

.btn-salvar {
  
  background-color: $verdeClaro;
  border-color: $verdeClaro;
  color: white;
  padding: 12px 30px;
  justify-content:flex-end;
  
  &:hover {
    background-color: $laranjaClaro;
    color: $corTxt;
    border-color: $laranjaClaro;
  }

}

.iconFechar {
color: $laranjaClaro;
cursor:pointer;

.icon {
  display: inline-block;
  margin-bottom: -6px;
  width: 17px;
  height: 17px;
  background: $laranjaClaro;
  mask-size: cover;
}

.icon-remove {
  mask: url(../images/remove.png);
  mask-repeat: no-repeat;
}

}