.card {
  border-color: $laranjaClaro2;
  border-radius: .375rem;
  

  header {
    h4 {
      font-size: 1rem;
      font-weight: bold;
      color: $cinzaIcone;
      margin-bottom: 0;
    }

    p {
      font-weight: bold;
    }
  }

  .card-body {
    padding: 0;
    

    .alterardados {
      padding: 30px;
      
      input[type=text] ,
      input[type=date] {
        padding: 25px 25px;
      }
      div {
        padding: 9px 18px;
        border: 1px solid $laranjaClaro;
        border-radius: 8px;
        margin-bottom: 5px;
        
      }
    }

    
    
  }

  footer {
    border-top: 1px solid $laranjaClaro2;
    button , a {
      font-size: .80rem;
      font-weight: 400;
      &:not(:last-of-type) {
        margin-right: 5px;
      }
    }
  }
} 