.card {
  border-color: $laranjaClaro2;
  border-radius: .375rem;
  

  header {
    h4 {
      font-size: 1rem;
      font-weight: bold;
      color: $cinzaIcone;
      margin-bottom: 0;
    }

    p {
      font-weight: bold;
    }
  }

  .card-body {
    padding: 0;
    

    .alterardados {
      padding: 30px;
      
      input[type=text] ,
      input[type=date] {
        padding: 25px 25px;
      }
      div {
        padding: 9px 18px;
        border: 1px solid $laranjaClaro;
        border-radius: 8px;
        margin-bottom: 5px;
        
      }
    }
    .checado {
      background-color: $laranjaClaro3;
      border-radius: .375rem;
      padding: 8px 18px;

      label {
        margin-bottom: 0;
      }
    }
    .nao-checado {
      border-radius: .375rem;
      border: 1px solid $laranjaClaro3;
      padding: 8px 18px;

      label {
        margin-bottom: 0;
      }
    }

  }
  .card-permuta {
    display: flex;
    flex-direction: column;
    align-items: center;

    .permuta-1{
      background-color: #E9F1F8;
      border-radius: .375rem;
      max-width: 80%;
    }
    h4 {
      font-size: 1.25rem;
      color: $corTxt;
    }
    .permuta-2 {
      border: 1px solid;
      border-color: $laranjaClaro;
      border-radius: .375rem;
      max-width: 80%;
    }
    
  }
  .busca-anexo {
    background-color: $bg2;
    border-radius: .375rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      margin-bottom: 0 !important;
      padding-left: 1rem;
    }
  }
  .tabela-anexo {
    border-radius: .375rem;
    border: 1px solid $laranjaClaro2;
    width: 100%;
    margin-bottom: 1rem;
    color: $azulEscuro;

    tr:nth-child(2n) {
      background-color: $bg2;
    }

    td {
      padding: 0.75rem;
      vertical-align: top;
    }

    
    
  }
  

  footer {
    border-top: 1px solid $laranjaClaro2;
    button , a {
      font-size: .80rem;
      font-weight: 400;
      &:not(:last-of-type) {
        margin-right: 5px;
      }
    }
  }
}
.card.em-andamento {

  header{
    h4 {
      font-size: 1.125rem;
      font-weight: bold;
      color: $azulEscuro;
      margin-bottom: 0.5rem;
    }
  }

     
    p{
      font-size: 1rem;
      font-weight: normal;
      color: $azulEscuro;
    }
    
}

 
