.card-estatistica-p {
    border-radius: .375rem;
    border: 2px solid $laranjaClaro2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;


    &:first-child {
        color: $verdeClaro;
    }
    &:nth-child(2) {
        color: $azulEscuro2;
    }
    &:nth-child(3) {
        color: #F59F5D;
    }
    &:nth-child(4) {
        color: #A52FF2;
    }

    h1 {
        font-size: 1.875rem;
    }
    h2 {
        font-size: 1.25rem;
        text-align: center;
        font-weight: normal;
    }
    hr {
        border: 3px solid;
        border-radius: 6px;
    }
}
.card-estatistica-g {
    border-radius: .375rem;
    border: 2px solid $laranjaClaro2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;

    &:first-child {
        color: #42AC28;
    }
    &:nth-child(2) {
        color: #D232A2;
    }
    h1 {
        font-size: 1.25rem;
        text-align: center;
        font-weight: normal;
    }
    hr {
        border: 3px solid;
        border-radius: 6px;
    }
    .lista-v {
        background-color: #C2FFB4;
        border-radius: .375rem;
        margin: .5rem 0;

        p {
            margin: 0;
        }
    }
    .lista-r {
        background-color: #FFB8EA;
        border-radius: .375rem;
        margin: .5rem 0;

        p {
            margin: 0;
        }
    }
}