.input-search2 {
    background-color: $bg2;
    border-radius: 5px;
    height:50px;
    width: 410px;
   
  }
  
  .input-search2-buscar {
    background-color: $bg2;
    width: 85%;
    border-width: 0cm;
    color: $corTxt;
  }

