*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%
}

body {
  font-family: $font1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-size: 1rem;
  color: $corTxt;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: $verdeClaro;

  &:hover {
    text-decoration: none;
  }


}

