
$font1: 'Poppins', sans-serif;
$azulEscuro: #1D3557;
$azulClaro: #B5D2FB;
$verdeClaro: #1BC5BD;
$verdeMuitoClaro: #C9F7F5;
$laranja: #F9842F;
$laranjaClaro: #F6AD74;
$laranjaClaro2: #FCE0CA;
$corTxt: #3F4254;
$bg: #F3F6F9;
$cinzaIcone: #B5B5C3;


