.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url("../images/grupo-226.jpg");
  background-size: cover;
  background-position: center;
}

body:not(.login) {
  background-color: #F3F6F9;
}
